rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Hospitals
    match /hospitals/{hospitalId} {
      allow read: if true; // Offline cache sync reads this
      allow write: if false; // Only edit via Firebase Console or Admin SDK
    }
  }
}
